* {
    margin: 0;
    padding: 0;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1C1C1C;
}
h2{
    font-style: bold;
}
.container {
    background-color: #DBF9F4;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    min-height: 45vh;
    min-width: 30vw;
}

form {
    margin: 2rem 0 1rem 0;
}



form select,
input,
button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input {
    border: 2px solid lightgrey;
    height: 5vh;
    font-size: 1rem;
    font-weight: 550;
    padding-left: .7rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

i {
    scale: 1.2;
}

.select-container img {
    max-width: 2rem;
}

.select-container select {
    font-size: 1rem;

}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    border: 2px solid lightgrey;
    padding: .2rem;


}

.msg{
    margin: 2rem 0 2rem 0;
    font-weight: 550;
}



form button{
    border: 2px solid lightgrey;
    height: 7vh;
    font-size: 1.2rem;
    font-weight: 550;
    padding-left: .7rem;
    background-color: #E85D75;
}